<!-- ======= Testimonials Section ======= -->
<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    <h2> Mot de passe <span> oublié </span></h2>
  </div>
</section>


<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container-fluid" data-aos="fade-up">

    <div class="row gy-4">

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
          <!--alert de succée -->
       <div class="alert alert-success" role="alert"  *ngIf="verrif" >
        <strong class="d-block d-sm-inline-block-force">Un email de récupération est envoyé à votre adresse </strong>
      </div>
       <!--alert alert d'erreur -->
       <div class="alert alert-danger" role="alert"  *ngIf="erreur" >
        <strong class="d-block d-sm-inline-block-force"> Veuillez vérifier l'adresse e-mail   !  </strong>
      </div>

        <div class="content px-xl-5">
          <h3> <strong>Mot de passe oublié</strong></h3>
          <p>

          </p>
        </div>

        <div class="accordion accordion-flush px-xl-5" id="faqlist">
         <p>Un lien de récupération du mot de passe sera envoyé à votre adresse mail<p>
          <form [formGroup]="loginForm">
                <!--Email-->
            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                <input type="email" class="form-control" id="inputEmail" placeholder="Entrez votre e-mail" formControlName="email">
              </div>
            </div>
            <div *ngIf="loginForm.controls['email'].invalid && (
              loginForm.controls['email'].touched || loginForm.controls['email'].dirty
            )">
                 <div *ngIf ="loginForm.controls['email'].errors?.['required']" class="red"> Votre email est obligatoire </div>
                 <div *ngIf ="loginForm.controls['email'].errors?.['email']" class="red"> email est incorrecte </div>

            </div>

            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary btn-block" (click)="forgetPassword()">Envoyer</button>
              <div class="mt-3">
                <small class="text-muted"> <strong>E-mail non réçu ? </strong> </small>
                <button type="submit" class="btn btn-primary btn-block" (click)="forgetPassword()">Renvoyer </button>
              </div>
            </div>
          </form>


        </div>

      </div>

      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/photosGST/Login3.jpg");'>&nbsp;</div>
    </div>

  </div>
</section><!-- End F.A.Q Section -->
