<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    <h2> Volley<span>ball</span></h2>
  </div>
</section>
<div class="gallery ">
  <div class="gallery-item">
    <img src="assets/photosGST/steg.jpg" alt="Image 1">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/tennis1 (5).jpg" alt="Image 2">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/tennis1 (3).jpg" alt="Image 3">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/tennis1 (4).jpg" alt="Image 4">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/tennis1 (2).jpg" alt="Image 5">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/tennis1 (6).jpg" alt="Image 6">
  </div>
</div>

<!-- ======= Call To Action Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-out">

    <div class="row g-5">

      <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
        <h3><em>Tennis</em> </h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn align-self-start" href="#">Devenir membre </a>
      </div>

      <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
        <div class="img">
          <img src="assets/photosGST/steg.jpg" alt="" class="img-fluid">
        </div>
      </div>

    </div>

  </div>
</section><!-- End Call To Action Section -->
