<header>
  <div class="hero">
    <h1>Basketball</h1>
  </div>
</header>
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio" data-aos="fade-up">

  <div class="container">

    <div class="section-header">
      <h2>Portfolio</h2>

    </div>

  </div>

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">

    <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

      <ul class="portfolio-flters">
        <li data-filter="*" class="filter-active">Tous</li>
        <li data-filter=".filter-app">Terrains</li>
        <li data-filter=".filter-product">Equipes</li>
        <li data-filter=".filter-branding">Activités</li>

      </ul><!-- End Portfolio Filters -->

      <div class="row g-0 portfolio-container">

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="assets/photosGST/basket1.jpg" class="img-fluid" alt="">

        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
          <img src="assets/photosGST/basket2.jpg" class="img-fluid" alt="">

        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-branding">
          <img src="assets/photosGST/basket3.jpg" class="img-fluid" alt="">

        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-books">
          <img src="assets/photosGST/basket4.jpg" class="img-fluid" alt="">

        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="assets/photosGST/basket5.jpg" class="img-fluid" alt="">
          
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
          <img src="assets/img/portfolio/product-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Product 2</h4>
            <a href="assets/img/portfolio/product-2.jpg" title="Product 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-branding">
          <img src="assets/img/portfolio/branding-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Branding 2</h4>
            <a href="assets/img/portfolio/branding-2.jpg" title="Branding 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-books">
          <img src="assets/img/portfolio/books-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Books 2</h4>
            <a href="assets/img/portfolio/books-2.jpg" title="Branding 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="assets/img/portfolio/app-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 3</h4>
            <a href="assets/img/portfolio/app-3.jpg" title="App 3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
          <img src="assets/img/portfolio/product-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Product 3</h4>
            <a href="assets/img/portfolio/product-3.jpg" title="Product 3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-branding">
          <img src="assets/img/portfolio/branding-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Branding 3</h4>
            <a href="assets/img/portfolio/branding-3.jpg" title="Branding 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-books">
          <img src="assets/img/portfolio/books-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Books 3</h4>
            <a href="assets/img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div><!-- End Portfolio Item -->

      </div><!-- End Portfolio Container -->

    </div>

  </div>
</section><!-- End Portfolio Section -->

<!-- ======= Call To Action Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-out">

    <div class="row g-5">

      <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
        <h3>Alias sunt quas <em>Cupiditate</em> oluptas hic minima</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn align-self-start" href="#">Call To Action</a>
      </div>

      <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
        <div class="img">
          <img src="assets/img/cta.jpg" alt="" class="img-fluid">
        </div>
      </div>

    </div>

  </div>
</section><!-- End Call To Action Section -->
