<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    <h2> Basket<span>ball </span></h2>
  </div>
</section>

<div class="gallery ">
  <div class="gallery-item">
    <img src="assets/photosGST/basket6.jpg" alt="Image 1">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/basket9.jpg" alt="Image 2">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/basket8.jpg" alt="Image 3">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/basket2.jpg" alt="Image 4">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/basket1.jpg" alt="Image 5">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/basket3.jpg" alt="Image 6">
  </div>
</div>



<!-- ======= Call To Action Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-out">

    <div class="row g-5">

      <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
        <h3><em>Basketball</em> </h3>
        <p> -L'équipe féminine des écoles de basketball a remporté la première place au tournoi de la Coupe Sadalla.<br>
          - L'équipe féminine des écoles de basketball a remporté la deuxième place au championnat de Tunisie.<br>
          - L'équipe masculine des jeunes de basketball a remporté la deuxième place à la Coupe Sadalla.<br>
          - Les joueuses de basketball se sont qualifiées pour les demi-finales de la Coupe de Tunisie.<br>
           <a class="cta-btn align-self-start" routerLink="/InscriptionDiscipline">Devenir membre</a>
      </div>

      <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
        <div class="img">
          <img src="assets/photosGST/basket6.jpg" alt="" class="img-fluid">
        </div>
      </div>

    </div>

  </div>
</section><!-- End Call To Action Section -->
