
    <!--<section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
          <img src="assets/photosGST/basket1.jpg" class="img-fluid animated">
          <h2>Qui Sommes  <span>Nous </span></h2>
          <div class="d-flex">
            <a href="#faq" class="btn-get-started scrollto">Plus</a>
          </div>
        </div>
      </section>-->
      <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
          <h2> Qui Sommes <span>Nous </span></h2>

        </div>
      </section>

   <!-- ======= F.A.Q Section ======= -->
   <section id="faq" class="faq">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content px-xl-5">
            <h3>Découvrir <strong> La Gazelec Sprot De Tunis</strong></h3>
            <p>
              Créé en 1949, Le club Gazelec Sport de Tunis, une histoire pleine d’événements et de réussites sportives sur le plan national et international. La passion qui anime notre club se trouve récompensée à tous les niveaux.

            </p>
          </div>

          <div class="accordion accordion-flush px-xl-5" id="faqlist">

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  <i class="bi bi-question-circle question-icon"></i>
                  Un environnement unique

                </button>
              </h3>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Le club dispose d’infrastructures exceptionnelles permettant la pratique du tennis tout au long de l’année.
                  Le Club dispose de 5 courts Green Set nouvellement rénovés et un terrain Terre battue tous éclairés.
                  Au cœur du complexe, une buvette bien équipée et aménagée (espace d’accueuil, cuisine professionnelle, espaces extérieurs) permet également d’organiser de nombreux événements.

                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  <i class="bi bi-question-circle question-icon"></i>
                  Une organisation sportive professionnelle

                </button>
              </h3>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Un pôle sportif mené par un responsable sportif et composé d’enseignant(e)s diplômé(e)s d’état. Une équipe dirigeante de 25 personnes qui, associée au professionnalisme des enseignant(e)s, est un véritable moteur pour le développement du club.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  <i class="bi bi-question-circle question-icon"></i>
                  La formation des jeunes
                </button>
              </h3>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  La structure « Ecole de Tennis » accueille et transmet la passion du tennis aux enfants de 3 à 18 ans, de l’initiation au perfectionnement.

Un « centre d‘entraînement » accompagne également les jeunes compétiteurs dans leurs projets sportifs.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                  <i class="bi bi-question-circle question-icon"></i>
                  Loisir vs compétition
                </button>
              </h3>
              <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  <i class="bi bi-question-circle question-icon"></i>
                  Un programme d’enseignement « adultes » est organisé afin de répondre aux besoins de nos adhérents.

                  Parallèlement, le TC GAZELEC engage chaque année plusieurs joueurs dans les différents championnats.

                </div>
              </div>
            </div><!-- # Faq item-->


          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/photosGST/propos.jpg");'>&nbsp;</div>
      </div>

    </div>
  </section><!-- End F.A.Q Section -->




    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">

          <ul class="nav nav-tabs row gy-4 d-flex">

            <li class="nav-item col-6 col-md-4 col-lg-2">
              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                <i class="bi bi-binoculars color-cyan"></i>
                <h4>Événements locaux</h4>
              </a>
            </li><!-- End Tab 1 Nav -->

            <li class="nav-item col-6 col-md-4 col-lg-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                <i class="bi bi-box-seam color-indigo"></i>
                <h4>Événements nationaux</h4>
              </a>
            </li><!-- End Tab 2 Nav -->

            <li class="nav-item col-6 col-md-4 col-lg-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                <i class="bi bi-brightness-high color-teal"></i>
                <h4>Événements internationaux</h4>
              </a>
            </li><!-- End Tab 3 Nav -->



          </ul>

          <div class="tab-content">

            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                  <h3>Événements locaux</h3>
                  <p class="fst-italic">
                    1151 sportifs sont membres dans la Gazelec, dont 782 sont des enseignants et enseignantes, répartis dans 9 branches éducatives, dont 6 sont des écoles individuelles et 3 sont des écoles collectives.</p>
                    <ul>

                      <li><i class="bi bi-check-circle-fill"></i>Tournois internes</li>
                      <li><i class="bi bi-check-circle-fill"></i> Animations internes</li>
                      <li><i class="bi bi-check-circle-fill"></i> Journée Parent Enfant</li>
                    </ul>

                </div>
                <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                  <img src="assets/photosGST/event2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div><!-- End Tab Content 1 -->

            <div class="tab-pane" id="tab-2">
              <div class="row gy-4">
                <div class="col-lg-8 order-2 order-lg-1">
                  <h3>Événements nationaux</h3>

                  <p class="fst-italic">
                   Chaque année , la Gazelec sport de tunis participe avec les équipes et les joueurs des différentes disciplines sportives dont des événements nationaux.                  </p>
                  <ul>

                    <li><i class="bi bi-check-circle-fill"></i>Tournois nationaux</li>
                    <li><i class="bi bi-check-circle-fill"></i> Business Cup(événement national initié par le Gazelec )</li>

                  </ul>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 text-center">
                  <img src="assets/photosGST/nat.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div><!-- End Tab Content 2 -->

            <div class="tab-pane" id="tab-3">
              <div class="row gy-4">
                <div class="col-lg-8 order-2 order-lg-1">
                  <h3>Événements internationaux</h3>
                  <p>
                   <strong> ITF World Tennis Tour Juniors</strong><br>
                    Anciennement circuit ITF Juniors, l'ITF World Tennis Tour Juniors est un circuit mondial dédié aux joueurs de 18 ans et moins, initié par La Fédération Internationale de Tennis. Véritable tremplin vers le circuit professionnel, il est réservé aux joueurs d’un bon niveau.
                    Texte<br>
                    <strong>En quelques chiffres…</strong><br>
                    649 tournois dans le monde,

                    270 tournois en Europe,

                    19 tournois en France dont 6 dans les DOM-TOM,


                    3 143 joueurs classés dans le monde
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Tournoi ITF</li>
                   </ul>

                </div>
                <div class="col-lg-4 order-1 order-lg-2 text-center">
                  <img src="assets/photosGST/steg1.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div><!-- End Tab Content 3 -->



          </div>

        </div>
      </section><!-- End Features Section -->





   <!-- ======= Team Section ======= -->

