
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Qui sommes nous ?</h2>

        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="assets/photosGST/hand.png" class="img-fluid" alt="">

            </div>
          </div>

          <div class="col-lg-7">
            <h3 class="pt-0 pt-lg-5">Gazelec Sport De Tunis </h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">GST </a></li>

            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">La Gazelec Sport de Tunis , Créée en 1949, une histoire pleine d’événements et de réussites sportives sur le plan national et international. La passion qui anime notre club se trouve récompensée à tous les niveaux.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>À propos</h4>
                </div>
                <p>La Gazelec Sport de Tunis qui compte en son sein 2000 adhérents et 1206 sportifs licenciés dans six sections individuelles et deux collectives se veut ouverte, accessible et accueillante pour tous.
                </p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Engagement</h4>
                </div>
                <p>Depuis sa création, cet association a su rester une association familiale tout en développant un pôle de compétition dynamique, notamment à travers la formation des jeunes joueurs mais aussi grâce aux résultats et à la volonté des équipes engagées dans les différents championnats nationaux et Internationaux.

                  </p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Autorité</h4>
                </div>
                <p>Par son dynamisme, la Gazelec est reconnue au niveau national et de même international pour sa capacité à organiser des évènements sportifs de haut niveau. Ceci est possible grâce au staff administratif, aux bénévoles et à nos partenaires.</p>

              </div><!-- End Tab 1 Content -->

            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Call To Action Section ======= -->
  <section id="cta" class="cta">


    <div class="row g-5">

     <!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
<div class="container" style="display: flex;
justify-content: center;
align-items: center;
">

  <div class="row gy-4" >


    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200" style="margin: auto;
  text-align: center;">
      <div class="service-item position-relative">
        <div class="icon"><i class="bi bi-bounding-box-circles icon" ></i></div>
        <h4><a routerLink="events" class="stretched-link">Consulter nos événements</a></h4>
        <p>Découvrez plus d'informations sur les événements de la Gazelec sport de Tunis</p>
      </div>
    </div><!-- End Service Item -->

    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400" style="margin: auto;
    text-align: center;">
      <div class="service-item position-relative">
        <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
        <h4><a routerLink="selection" class="stretched-link">Réserver un terrain</a></h4>
        <p>Vous pouvez réserver l'un de nos terrains de tennis en ligne en choisissant juste la date et les horaires qui vous conviennent.</p>
      </div>
    </div><!-- End Service Item -->

    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600" style="margin: auto;
    text-align: center;">
      <div class="service-item position-relative">
        <div class="icon"><i class="bi bi-broadcast icon"></i></div>
        <h4><a routerLink="InscriptionDiscipline" class="stretched-link">Devenir membre</a></h4>
        <p>Vous pouvez faire une inscription pour vous ou pour un membre de votre famille dans l'une de nos disciplines sportives . </p>
      </div>
    </div><!-- End Service Item -->

  </div>

</div>
</section><!-- End Featured Services Section -->



    </div>


</section><!-- End Call To Action Section -->

