<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <h2>Réserver <span>un terrain </span></h2>
    </div>
  </section>

  <section id="blog" class="blog">
    <h1 class="text-muted mb-6 text-center">Etape 1 </h1>
    <hr>
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12">

          <div class="row gy-4 posts-list">

            <div class="col-lg-4">
              <article class="d-flex flex-column">

                <div class="post-img">
                  <img src="assets/photosGST/tennis1 (5).jpg" alt="" class="img-fluid">
                </div>

                <h2 class="title">
                  <a>Discipline : Tennis</a>
                </h2>
                <h2 class="title">
                    <a>Num de terrain : 1</a>
                  </h2>
                  <div class="meta-top">
                    <ul> 
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">1h</time></a></li>
                    </ul>
                  </div>
                  <hr>
                <div class="read-more mt-auto align-self-end">
                  <a href="blog-details.html">Réserver</a>
                </div>

              </article>
            </div><!-- End post list item -->
            <div class="col-lg-4">
                <article class="d-flex flex-column">
  
                  <div class="post-img">
                    <img src="assets/photosGST/tennis1 (5).jpg" alt="" class="img-fluid">
                  </div>
  
                  <h2 class="title">
                    <a>Discipline : Tennis</a>
                  </h2>
                  <h2 class="title">
                      <a>Num de terrain : 2 </a>
                    </h2>
  
                  <div class="meta-top">
                    <ul> 
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">1h</time></a></li>
                    </ul>
                  </div>
                  <hr>
                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Réserver</a>
                  </div>
  
                </article>
              </div><!-- End post list item -->
              <div class="col-lg-4">
                <article class="d-flex flex-column">
  
                  <div class="post-img">
                    <img src="assets/photosGST/tennis1 (4).jpg" alt="" class="img-fluid">
                  </div>
  
                  <h2 class="title">
                    <a>Discipline : Tennis</a>
                  </h2>
                  <h2 class="title">
                      <a>Num de terrain : 3</a>
                    </h2>
  
                  <div class="meta-top">
                    <ul> 
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">1h</time></a></li>
                    </ul>
                  </div>
                  <hr>
                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Réserver</a>
                  </div>
  
                </article>
              </div><!-- End post list item -->
              <div class="col-lg-4">
                <article class="d-flex flex-column">
  
                  <div class="post-img">
                    <img src="assets/photosGST/tennis1 (6).jpg" alt="" class="img-fluid">
                  </div>
  
                  <h2 class="title">
                    <a>Discipline : Tennis</a>
                  </h2>
                  <h2 class="title">
                      <a>Num de terrain : 4</a>
                    </h2>
  
                  <div class="meta-top">
                    <ul> 
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">1h</time></a></li>
                    </ul>
                  </div>
                  <hr>
                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Réserver</a>
                  </div>
  
                </article>
              </div><!-- End post list item -->
              <div class="col-lg-4">
                <article class="d-flex flex-column">
  
                  <div class="post-img">
                    <img src="assets/photosGST/tennis1 (3).jpg" alt="" class="img-fluid">
                  </div>
  
                  <h2 class="title">
                    <a>Discipline : Tennis</a>
                  </h2>
                  <h2 class="title">
                      <a>Num de terrain : 5</a>
                    </h2>
  
                  <div class="meta-top">
                    <ul> 
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">1h</time></a></li>
                    </ul>
                  </div>
                  <hr>
                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Réserver</a>
                  </div>
  
                </article>
              </div><!-- End post list item -->
              <div class="col-lg-4">
                <article class="d-flex flex-column">
  
                  <div class="post-img">
                    <img src="assets/photosGST/tennis1 (2).jpg" alt="" class="img-fluid">
                  </div>
  
                  <h2 class="title">
                    <a>Discipline : Tennis</a>
                  </h2>
                  <h2 class="title">
                      <a>Num de terrain : 6</a>
                    </h2>
  
                  <div class="meta-top">
                    <ul> 
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">1h</time></a></li>
                    </ul>
                  </div>
                  <hr>
                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Réserver</a>
                  </div>
  
                </article>
              </div><!-- End post list item -->
          
        
           
          </div><!-- End blog posts list -->

          

        </div>



      </div>

    </div>

  </section>