<div class="header-container">
  <header id="header-top" class="header-top header1 fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-end button-container">

      <button class="custom-btn" style="margin-right: 10px;" (click)="Inscription()">Devenir membre </button>
      <button class="custom-btn" style="margin-right: 50px; margin-top: 5px;" (click)="reserver()">Réserver un terrain</button>
    </div>
  </header><!-- End Header Top -->
  <header id="header-bottom" class="header-bottom  header2 fixed-top" data-scrollto-offset="0">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a routerLink="" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="assets/photosGST/logoHeader.png" alt="" class="logo-image">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" routerLink=""><span><strong>Accueil</strong></span></a></li>
        <li><a class="nav-link scrollto" routerLink="apropos"><strong>A propos</strong></a></li>
        <li class="dropdown megamenu">
          <a href="#"><span><strong>Disciplines</strong></span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li>
              <a routerLink="Tennis">Tennis</a>
              <a routerLink="Basketball">Basketball</a>
              <a routerLink="Haltérophilie">Haltérophilie</a>
            </li>
            <li>
              <a routerLink="Handball">Handball</a>
              <a routerLink="Karaté">Karaté</a>

            </li>

          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="events"><strong>Événements</strong></a></li>
        <li><a class="nav-link scrollto" routerLink="Contact"><strong>Contact</strong></a></li>



      </ul>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav><!-- .navbar -->
    <div >
      <div style="margin-left: 20%;width:200px" class="dropdown" *ngIf="authService.roleMatch('ADHERENT')">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i  class="fa fa-user fa-2x ml-2"></i> <!-- J'ai ajusté la classe ml-10 en ml-2 pour déplacer l'icône vers la gauche -->
        </button>
        <div class="dropdown-menu dropdown-menu-leftdropdown-menu-left" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="profil" *ngIf="authService.roleMatch('ADHERENT')">
            <i class="fas fa-user"></i> Profil
          </a>
          <a class="dropdown-item" (click)="LogOut()" *ngIf="isLoggedIn()">
            <i class="fas fa-sign-out-alt"></i> Se déconnecter
          </a>
        </div>
      </div>
      <a routerLink="signup" *ngIf="!isLoggedIn()" class="custom-link nav-link  d-inline-block" style=" margin-right: 20px; margin-left: 50px; ">
        <span>Créer compte</span>
      </a>
      <a routerLink="Login" *ngIf="!isLoggedIn()" class="custom-link nav-link  d-inline-block" style="margin-right: 50px;" >
        <span>Se connecter</span>
      </a>





</div>
</div>
</header>
</div>
