<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a routerLink="" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
       <img src="assets/photosGST/GST.png" alt="">

    </a>

    <nav id="navbar" class="navbar">
      <ul>

        <li><a class="nav-link scrollto" routerLink=""><span> <strong>Acceuil</strong></span> </a>

        </li>

        <li><a class="nav-link scrollto" routerLink="apropos"> <strong>A propos</strong></a></li>
        <li class="dropdown megamenu"><a href="#"><span><strong>Disciplines</strong></span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li>
              <a routerLink="Tennis">Tennis</a>
              <a routerLink="Basketball">Basketball</a>
              <a routerLink="Volleyball">Volleyball</a>
            </li>
            <li>
              <a routerLink="Handball">Handball</a>
              <a routerLink="Karaté">Karaté</a>
              <a routerLink="Pétanque">Pétanque</a>
            </li>
            <li>
              <a href="PingPong">PingPong</a>
              <a href="Aikido">Aïkido</a>
              <a href="#">Nattation</a>
            </li>

          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="events"><strong>Evénements</strong></a></li>
        <li><a class="nav-link scrollto" routerLink="Contact" ><strong>Contact</strong></a></li>
        <li><a class="nav-link scrollto" routerLink="profil" *ngIf="authService.roleMatch('ROLE_USER')" ><strong>Mon Profil</strong></a></li>




        <li class="dropdown"><a routerLink="signup" *ngIf="!isLoggedIn()" style="font-size: 15px;margin-left: 25px; text-decoration: underline;" ><span>S'inscrire</span> </a>
          <li class="dropdown"><a routerLink="Login" *ngIf="!isLoggedIn()" style="font-size: 15px;text-decoration: underline;" ><span>Se connecter</span> </a></li>
          <li class="dropdown" ><a (click)="LogOut ()"*ngIf="isLoggedIn()" style="font-size: 15px;text-decoration: underline;" ><span>Se deconnecter</span> </a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav><!-- .navbar -->

    <a class="btn-getstarted scrollto"  (click)="reserver()" >Réserver</a>
    <a class="btn-getstarted scrollto" (click)="Inscription()">Devenir membre</a>

  </div>
</header><!-- End Header -->
