
<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    <h2> S'inscrire <span>Dans une discipline sportive</span></h2>
  </div>
</section>
<!-- Alerte de confirmation -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success confirmation-dialog" role="alert" *ngIf="showConfirmationDialog">
        <h4 class="alert-heading">Confirmation d'inscription</h4>
        <p>Voulez-vous enregistrer cette inscription ?</p>
        <hr>
        <div class="button-container">
          <button class="btn btn-secondary cancel-button" (click)="closeConfirmationDialog()">Annuler</button>
          <button class="btn btn-success confirm-button" (click)="addFamille()">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- Alerte de confirmation -->
 <!--alert de succée -->
 <div class="alert alert-success" role="alert"  *ngIf="ajout" >
  <strong class="d-block d-sm-inline-block-force"> Félicitation! votre demande d'inscription est enregistrée avec succés  </strong>
</div>
 <!--alert alert d'erreur -->

 <div class="alert alert-danger" role="alert"  *ngIf="valid&&!erreur" >
  <strong class="d-block d-sm-inline-block-force"> Veuillez vérifier vos champs !  </strong>
</div>
<div class="container-fluid bg-primary py-5">

  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
              <div class="d-flex justify-content-center mb-4">
                  <i class="bi bi-person h2"></i>
                </div>
            <h5 class="card-title text-center mb-4"> <strong>Formulaire d'inscription </strong> </h5>
            <form [formGroup]="addFamilleForm">
              <div class="form-section">
              <h2>Coordonnées</h2>
              <div class="row">
                <div class="col">
              <label><strong> Vous voulez inscrire :</strong></label>
              <div class="form-check" >
                <input class="form-check-input" type="radio" id="adherent" name="relation" value="adherent"  formControlName="relation" (change)="onRelationChange($event)">
                <label class="form-check-label" for="myself">
                  Vous-même
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="enfant" name="relation" value="enfant" formControlName="relation"(change)="onRelationChange($event)">
                <label class="form-check-label" for="child">
                  Votre enfant
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" id="conjoint" name="relation" value="conjoint" formControlName="relation"(change)="onRelationChange($event)">
                <label class="form-check-label" for="spouse">
                  Votre conjoint
                </label>
              </div>

                   <div *ngIf ="(alerteRelation)&&(clickInscrire)"  class="red"> Ce champ est obligatoire  </div>
              </div>
              </div>
              <br>
              <div class="row">
                <div class="col">

                    <label for="nom">Nom :<span class="tx-danger">*</span></label>
                    <input type="text" class="form-control" id="nom"  formControlName="nom"  [(ngModel)]="ValeurNom" placeholder="Entrez votre nom" [attr.disabled]="selectedRelation === 'adherent'  ? true : null">
                    <div *ngIf="addFamilleForm.controls['nom'].invalid && (
                      addFamilleForm.controls['nom'].touched || addFamilleForm.controls['nom'].dirty
                    )">
                         <div *ngIf ="addFamilleForm.controls['nom'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                         <div  *ngIf ="addFamilleForm.controls['nom'].errors?.['minlength']" class="red"> Au mois 3 caractéres  </div>

                    </div>
                </div>
                <div class="col">
                  <label for="nom">Prénom : <span class="tx-danger">*</span></label>
                  <input type="text" class="form-control" id="prenom" formControlName="prenom" placeholder="Entrez votre prénom" [(ngModel)]="ValeurPrenom"  [attr.disabled]="selectedRelation === 'adherent'  ? true : null"  >
                  <div *ngIf="addFamilleForm.controls['prenom'].invalid && (
                    addFamilleForm.controls['prenom'].touched || addFamilleForm.controls['prenom'].dirty
                  )">
                       <div *ngIf ="addFamilleForm.controls['prenom'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                       <div  *ngIf ="addFamilleForm.controls['prenom'].errors?.['minlength']" class="red"> Au moins 3 caractére  </div>

                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <label for="nom">E-mail: <span class="tx-danger">*</span></label>
                    <input type="text" class="form-control" id="email" formControlName="email" placeholder="Entrez votre adresse mail" [(ngModel)]="ValeurEmail"[attr.disabled]="selectedRelation === 'enfant' || selectedRelation === 'adherent' ? true : null" >
                    <div *ngIf="addFamilleForm.controls['email'].invalid && (
                    addFamilleForm.controls['email'].touched || addFamilleForm.controls['email'].dirty
                  )">
                       <div *ngIf ="addFamilleForm.controls['email'].errors?.['required']" class="red">  Ce champ est obligatoire </div>
                       <div *ngIf ="addFamilleForm.controls['email'].errors?.['email']" class="red"> Email est incorrecte </div>

                  </div>
                  </div>
                <div class="col">
                  <label for="nom">Téléphone :<span class="tx-danger">*</span></label>
                    <input type="text" class="form-control" id="telephone" formControlName="telephone"  placeholder="Entrez votre numéro de téléphone" [(ngModel)]="ValeurTelephone" >
                    <div *ngIf="addFamilleForm.controls['telephone'].invalid && (
                      addFamilleForm.controls['telephone'].touched || addFamilleForm.controls['telephone'].dirty
                    )">
                         <div *ngIf ="addFamilleForm.controls['telephone'].errors?.['required']" class="red">  Ce champ est obligatoire </div>


                    </div>
                  </div>


              </div>
                 <br>
              <div class="row">
                <div class="col">
                  <label for="nom">Date de naissance: <span class="tx-danger">*</span></label>
                    <input type="date" class="form-control" id="date" formControlName="date_naissance" [(ngModel)]="ValeurDateNaissance" >
                    <div *ngIf="addFamilleForm.controls['date_naissance'].invalid && (
                      addFamilleForm.controls['date_naissance'].touched || addFamilleForm.controls['date_naissance'].dirty
                    )">
                         <div *ngIf ="addFamilleForm.controls['date_naissance'].errors?.['required']" class="red">  Ce champ est obligatoire </div>

                    </div>
                  </div>

                <div class="col">
                  <label for="nom">Lieu de naissance :</label>
                    <input type="text" class="form-control" id="nom" formControlName="lieu_naissance" [(ngModel)]="ValeurLieuNaissance"  placeholder="Entrez votre lieu de naissance">
                 </div>
              </div>
              <br>
              <div class="row">

                <div class="col">
                  <label for="nom"> Votre Profession :</label>
                    <input type="text" class="form-control" id="nom" formControlName="profession"  [(ngModel)]="ValeurProfession"  placeholder="Entrez votre profession">
                 </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <label for="nom">Adresse: <span class="tx-danger">*</span></label>

                  <input type="text" class="form-control" id="adresse" formControlName="adresse"  placeholder="Entrez votre adresse" [(ngModel)]="ValeurAdresse">
                  <div *ngIf="addFamilleForm.controls['adresse'].invalid && (
                    addFamilleForm.controls['adresse'].touched || addFamilleForm.controls['adresse'].dirty
                  )">
                       <div *ngIf ="addFamilleForm.controls['adresse'].errors?.['required']" class="red">  Ce champ est obligatoire </div>

                  </div>

                </div>



              </div>
              <br>
              <label> Vous êtes :</label>
              <div class="form-check" >
                <input class="form-check-input" type="radio" id="adherent"  [(ngModel)]="stegiste"name="stegiste" value="stegiste" formControlName="stegiste"  (change)="onRoleChange($event)">
                <label class="form-check-label" for="myself">
                  Agent Steg
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="enfant"  [(ngModel)]="stegiste" name="stegiste" value="non_stegiste" formControlName="stegiste"  (change)="onRoleChange($event)">
                <label class="form-check-label" for="child">
                  Abonné ordinaire
                </label>
              </div>
              <div *ngIf ="(alerteStegiste)&&(clickInscrire)"  class="red"> Ce champ est obligatoire  </div>
              <br>
              <div class="row" >
                <div class="col">
                  <label for="nom">Matricule (cas agent Steg):</label>
                    <input type="text" class="form-control" id="matricule" formControlName="matricule" placeholder="Entrez votre matricule" [(ngModel)]="ValeurMatricule">
                   </div>

                   <div *ngIf ="(alerteMatricule)&&(clickInscrire)"  class="red"> Ce champ est obligatoire  </div>
              </div>
            </div>

            <div class="form-section">
              <h2>Discipline</h2>
              <div class="form-group">
                <label for="modePaiement">Discipline : <span class="tx-danger">*</span></label>
                      <select class="form-select" aria-label="Default select example" formControlName="discipline" (change)="DisciplineChange($event)"  placeholder="Choisissez une discipline sportive">
                        <option label="Choisir une discipline "></option>
                        <option  *ngFor="let d of disciplines " value="{{d?.id}}">{{d?.discipline}}</option>




                      </select>
              </div>
              <div *ngIf ="(alerteDiscipline)&&(clickInscrire)"  class="red"> Ce champ est obligatoire  </div>
            </div>
              <div class="form-section">
              <h2>Mode de paiement</h2>
              <div class="form-group">
                <label for="modePaiement">Mode de paiement : </label>
                      <select class="form-select" aria-label="Default select example" formControlName="mode_paiement" placeholder="Choissisez un mode de paiement">
                        <option label="Choisir un mode de paiement "></option>
                        <option value="especes" >Espèces</option>
                        <option value="banque">Banque</option>

                      </select>
              </div>

</div>
<div class="form-group text-center">
  <button  class="btn btn-primary btn-block " (click)="openConfirmationDialog()">S'inscrire </button>
   </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
