
<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    <h2> S'inscrire <span>Dans une discipline sportive</span></h2>
  </div>
</section>

 <!--alert de succée -->
 <div class="alert alert-success" role="alert"  *ngIf="ajout" >
  <strong class="d-block d-sm-inline-block-force"> un nouveau membre est ajouté avec succés </strong>
</div>
 <!--alert alert d'erreur -->

 <div class="alert alert-danger" role="alert"  *ngIf="valid&&!erreur" >
  <strong class="d-block d-sm-inline-block-force"> Veuillez vérifier vos champs !  </strong>
</div>
<div class="container-fluid bg-primary py-5">

  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
              <div class="d-flex justify-content-center mb-4">
                  <i class="bi bi-person h2"></i>
                </div>
            <h5 class="card-title text-center mb-4"> <strong>Formulaire d'inscription </strong> </h5>
            <form [formGroup]="addFamilleForm">
              <div class="form-section">
              <h2>Coordonnées</h2>
              <div class="row">
                <div class="col">
              <label><strong> Vous voulez inscrire :</strong></label>
              <div class="form-check" >
                <input class="form-check-input" type="radio" id="adherent" name="relation" value="adherent"  formControlName="relation" (change)="onRelationChange($event)">
                <label class="form-check-label" for="myself">
                  Vous-même
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="enfant" name="relation" value="enfant" formControlName="relation"(change)="onRelationChange($event)">
                <label class="form-check-label" for="child">
                  Votre enfant
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" id="conjoint" name="relation" value="conjoint" formControlName="relation"(change)="onRelationChange($event)">
                <label class="form-check-label" for="spouse">
                  Votre conjoint
                </label>
              </div> </div></div>
              <br>
              <div class="row">
                <div class="col">

                    <label for="nom">Nom :<span class="tx-danger">*</span></label>
                    <input type="text" class="form-control" id="nom"  formControlName="nom"  [(ngModel)]="ValeurNom" placeholder="Entrez votre nom" [attr.disabled]="selectedRelation === 'adherent'  ? true : null">
                    <div *ngIf="addFamilleForm.controls['nom'].invalid && (
                      addFamilleForm.controls['nom'].touched || addFamilleForm.controls['nom'].dirty
                    )">
                         <div *ngIf ="addFamilleForm.controls['nom'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                         <div  *ngIf ="addFamilleForm.controls['nom'].errors?.['minlength']" class="red"> Au mois 3 caractéres  </div>

                    </div>
                </div>
                <div class="col">
                  <label for="nom">Prénom : <span class="tx-danger">*</span></label>
                  <input type="text" class="form-control" id="prenom" formControlName="prenom" placeholder="Entrez votre prénom" [(ngModel)]="ValeurPrenom"  [attr.disabled]="selectedRelation === 'adherent'  ? true : null"  >
                  <div *ngIf="addFamilleForm.controls['prenom'].invalid && (
                    addFamilleForm.controls['prenom'].touched || addFamilleForm.controls['prenom'].dirty
                  )">
                       <div *ngIf ="addFamilleForm.controls['prenom'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                       <div  *ngIf ="addFamilleForm.controls['prenom'].errors?.['minlength']" class="red"> Au moins 3 caractére  </div>

                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <label for="nom">E-mail: <span class="tx-danger">*</span></label>
                    <input type="text" class="form-control" id="email" formControlName="email" placeholder="Entrez votre adresse mail" [(ngModel)]="ValeurEmail"[attr.disabled]="selectedRelation === 'enfant' || selectedRelation === 'adherent' ? true : null" >
                    <div *ngIf="addFamilleForm.controls['email'].invalid && (
                    addFamilleForm.controls['email'].touched || addFamilleForm.controls['email'].dirty
                  )">
                       <div *ngIf ="addFamilleForm.controls['email'].errors?.['required']" class="red">  Ce champ est obligatoire </div>
                       <div *ngIf ="addFamilleForm.controls['email'].errors?.['email']" class="red"> Email est incorrecte </div>

                  </div>
                  </div>
                <div class="col">
                  <label for="nom">Téléphone :<span class="tx-danger">*</span></label>
                    <input type="text" class="form-control" id="telephone" formControlName="telephone"  placeholder="Entrez votre numéro de téléphone" >
                 </div></div>
                 <br>
              <div class="row">
                <div class="col">
                  <label for="nom">Date de naissance: <span class="tx-danger">*</span></label>
                    <input type="datetime-local" class="form-control" id="nom" formControlName="date_naissance"  placeholder="Entrez votre adresse mail">
                   </div>
                <div class="col">
                  <label for="nom">Lieu de naissance :</label>
                    <input type="text" class="form-control" id="nom" formControlName="lieu_naissance"   placeholder="Entrez votre lieu de naissance">
                 </div>
              </div>
              <br>
              <div class="row">

                <div class="col">
                  <label for="nom"> Votre Profession :</label>
                    <input type="text" class="form-control" id="nom" formControlName="profession"  [(ngModel)]="ValeurProfession" [attr.disabled]="userInscrit ? true : null" placeholder="Entrez votre profession">
                 </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <label for="nom">Adresse: <span class="tx-danger">*</span></label>
                    <input type="text" class="form-control" id="adresse" formControlName="adresse"  placeholder="Entrez votre adresse">
                   </div>

              </div>
              <br>
              <label> Vous êtes :</label>
              <div class="form-check" >
                <input class="form-check-input" type="radio" id="adherent"  [(ngModel)]="stegiste"name="stegiste" value="stegiste" formControlName="stegiste" [attr.disabled]="userInscrit ? true : null">
                <label class="form-check-label" for="myself">
                  Stegiste
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="enfant"  [(ngModel)]="stegiste" name="stegiste" value="non_stegiste" formControlName="stegiste" [attr.disabled]="userInscrit ? true : null">
                <label class="form-check-label" for="child">
                  Non Stegiste
                </label>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <label for="nom">Matricule:</label>
                    <input type="text" class="form-control" id="matricule" formControlName="matricule" [attr.disabled]="userInscrit ? true : null" placeholder="Entrez votre matricule" [(ngModel)]="ValeurMatricule">
                   </div>

              </div>
            </div>
              <div class="form-section">
              <h2>Fichiers à fournir</h2>
              <div class="row">
                <div class="col">
                  <label for="cv">Photo :</label>
                  <input type="file" id="photo" name="photo" class="form-control" accept="image/*" required>
                </div>
                <div class="col">
                  <label for="lettre_motivation">Certificat médical:</label>
                  <input type="file" id="certificat" name="certificat" class="form-control" accept=".pdf,.doc,.docx" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <label for="cv">Extrait de naissance :</label>
                  <input type="file" id="photo" name="photo" class="form-control" accept=".pdf,.doc,.docx" required>
                </div>

              </div>
            </div>
            <div class="form-section">
              <h2>Discipline</h2>
              <div class="form-group">
                <label for="modePaiement">Discipline : <span class="tx-danger">*</span></label>
                      <select class="form-select" aria-label="Default select example">
                        <option  *ngFor="let d of disciplines " value="{{d?.id}}">{{d?.discipline}}</option>




                      </select>
              </div>
            </div>
              <div class="form-section">
              <h2>Mode de paiement</h2>
              <div class="form-group">
                <label for="modePaiement">Mode de paiement : <span class="tx-danger">*</span></label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Choisissez un mode de paiement</option>
                        <option value="especes">Espèces</option>
                        <option value="banque">Banque</option>

                      </select>
              </div>
</div>
<div class="form-group text-center">
  <button  class="btn btn-primary btn-block " (click)="addFamille()">S'inscrire </button>
   </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
