.cases-parent {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .case {
    background-color: #f0f2f5;
    border-radius: 5px;
    width: calc(30.33% - 10px);
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
    border: 2px solid #0f6b7d;
  }
  
  
  .case input[type="radio"] {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  
  .case-content {
    text-align: center;
  }
  
  .case-content .time {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .case-content .title {
    font-size: 1rem;
    margin-top: 0;
  }
  