<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    <h2> Hand<span>ball </span></h2>
  </div>
</section>

<div class="gallery ">
  <div class="gallery-item">
    <img src="assets/photosGST/hand1.jpg" alt="Image 1">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/hand2.jpg" alt="Image 2">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/hand3.jpg" alt="Image 3">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/hand4.jpg" alt="Image 4">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/handF1.jpg" alt="Image 1">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/handF2.jpg" alt="Image 2">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/handF3.jpg" alt="Image 3">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/handF4.jpg" alt="Image 4">
  </div>
  <div class="gallery-item">
    <img src="assets/photosGST/handF5.jpg" alt="Image 4">
  </div>

</div>
<!-- ======= Call To Action Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-out">

    <div class="row g-5">

      <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
        <h3><em>Handball</em> </h3>
        <p> - L'équipe cadette de handball a remporté la Coupe de Tunisie .</p>
        <a class="cta-btn align-self-start" routerLink="/InscriptionDiscipline">Devenir membre </a>

      </div>

      <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
        <div class="img">
          <img src="assets/photosGST/hand4.jpg" alt="" class="img-fluid">
        </div>
      </div>

    </div>

  </div>
</section><!-- End Call To Action Section -->

