<!--<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="assets/photosGST/intro1.jpg" class="img-fluid animated">
      <h2>Welcome to <span>HeroBiz</span></h2>
      <p>Et voluptate esse accusantium accusamus natus reiciendis quidem voluptates similique aut.</p>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section>-->
  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <section class="intro">
        <div class="intro-image">
          <img src="assets/photosGST/intro11.jpg" alt="Image d'introduction">
        </div>
        <div class="intro-content">
          <h1>Bienvenue à votre espace en ligne de la Gazelec</h1>

          <a href="#" class="btn">En savoir plus</a>
        </div>
      </section>



  </section>

  <!-- ======= Call To Action Section ======= -->
  <section id="cta" class="cta">


      <div class="row g-5">

       <!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
  <div class="container" style="display: flex;
  justify-content: center;
  align-items: center;
  ">

    <div class="row gy-4" >


      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200" style="margin: auto;
    text-align: center;">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-bounding-box-circles icon" ></i></div>
          <h4><a href="" class="stretched-link">Qui sommes-nous</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400" style="margin: auto;
      text-align: center;">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
          <h4><a href="" class="stretched-link">Réserver un terrain</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600" style="margin: auto;
      text-align: center;">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-broadcast icon"></i></div>
          <h4><a href="" class="stretched-link">Devenir memebre</a></h4>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>
</section><!-- End Featured Services Section -->



      </div>


  </section><!-- End Call To Action Section -->
