<main id="main">


  <app-intro-section></app-intro-section>
 
  
  <app-info-section></app-info-section>
  <app-apropos-section></app-apropos-section>
  <app-disciplines-section></app-disciplines-section>


 
  
  <section id="recent-blog-posts" class="recent-blog-posts">
    <div class="section-header">
      <h2>Nos événements</h2>
    </div>
    <div class="container" data-aos="fade-up">
      <div class="event-scroll-container">
        <div class="row event-scroll">
          <div *ngFor="let event of eventService.listData" class="col-lg-4">
            <app-one-event [eventInput]="event"></app-one-event>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  </main><!-- End #main -->
