<!-- ======= Testimonials Section ======= -->
<header>
  <div class="hero">
    <h1>Se connecter</h1>
  </div>
</header>


<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container-fluid" data-aos="fade-up">

    <div class="row gy-4">

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

        <div class="content px-xl-5">
          <h3> <strong>Connectez-vous</strong></h3>
          <p>

          </p>
        </div>

        <div class="accordion accordion-flush px-xl-5" id="faqlist">

          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              <small class="form-text text-muted"><a href="#">Forgot Password?</a></small>
            </div>

            <button type="submit" class="btn btn-primary d-block mx-auto mt-3">Submit</button>
            <div class="text-center mt-3">
              Don't have an account? <a href="#">Sign up</a>
            </div>
          </form>

        </div>

      </div>

      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/photosGST/Login3.jpg");'>&nbsp;</div>
    </div>

  </div>
</section><!-- End F.A.Q Section -->
