<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    <h2>Événement<span></span></h2>
  </div>
</section>

<section id="faq" class="faq">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1" id="test">
        <div class="content px-xl-5">
          <br>
          <br>
          <h3>Decouvrez notre nouvel évènement : <strong style="color: rgb(18, 47, 95);">{{event.titre}}</strong></h3>
          <h4>Notre évènement aura lieu le <strong style="color: rgb(18, 47, 95);">{{event.date}}</strong> à <strong style="color: rgb(18, 47, 95);">{{event.heure}}</strong></h4>
        </div>
        <div class="accordion accordion-flush px-xl-12" id="faqlist">
          <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
            <h3 class="accordion-header">
            
                <i class="bi bi-question-circle question-icon"></i>
                
            </h3>
            <br> 
            <br>
                
              <div class="accordion-body text-center">
                <p>A propos cet événement </p>
                <p><strong>{{event.description}}</strong></p>
              </div>
           
          </div>
        </div>
      </div>
      <div class="post-img"><img src="{{this.eventService.host+'/api/Imgevents/'+event.id}}" class="img-fluid" alt="image"></div>
    </div>
  </div>
</section>
