<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <h2> Mon <span> Profil </span></h2>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info confirmation-dialog" role="alert" *ngIf="showConfirmationDialog">
          <h4 class="alert-heading">Confirmation</h4>
          <p>Voulez-vous vraiment mettre à jour votre profil ?</p>
          <hr>
          <div class="button-container">
            <button class="btn btn-secondary cancel-button" (click)="closeConfirmationDialog()">Annuler</button>
            <button class="btn btn-primary confirm-button" (click)="EditCurrentUser()">mettre à jour</button>
          </div>
        </div>

        <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="showModalPassword">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title">Modifier mot de passe</h5>
              <button type="button" class="close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="alert alert-success" role="alert"  *ngIf="updatedPassword" >
                <strong class="d-block d-sm-inline-block-force"> Votre mot de passe est modifié avec succès   </strong>
               </div>
               <!--alert d'eereur dans le cas de modification  -->
               <div class="alert alert-danger" role="alert" *ngIf="changerPassword"  >
                 <strong class="d-block d-sm-inline-block-force"> L'ancien mot de passe est incorrect </strong>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="faute"  >
                 <strong class="d-block d-sm-inline-block-force">  Veuillez vérifier les champs </strong>
                </div>
            </div>
            <div class="modal-body">
              <form [formGroup]="PasswordForm">

                <div class="modal-body">
        
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Ancien mot de passe <span class="tx-danger">*</span></label>
                    <input type="password" class="form-control" formControlName="OldPassword" id="exampleFormControlInput1" placeholder="Entrer votre ancien mot de passe " >
                    <div *ngIf="PasswordForm.controls['OldPassword'].invalid && (
                      PasswordForm.controls['OldPassword'].touched || PasswordForm.controls['OldPassword'].dirty
                    )">
                         <div *ngIf ="PasswordForm.controls['OldPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
        
        
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Nouveau mot de passe <span class="tx-danger">*</span> </label>
                    <input type="password" class="form-control" formControlName="NewPassword" id="exampleFormControlInput1"  placeholder=" Entrer le nouveau mot de passe" >
                    <div *ngIf="PasswordForm.controls['NewPassword'].invalid && (
                      PasswordForm.controls['NewPassword'].touched || PasswordForm.controls['NewPassword'].dirty
                    )">
                         <div *ngIf ="PasswordForm.controls['NewPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                         <div  *ngIf ="PasswordForm.controls['NewPassword'].errors?.['minlength']" class="red"> Au moins 5 caractéres  </div>
        
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="exampleFormControlInput1">Confirmer le nouveau mot de passe <span class="tx-danger">*</span> </label>
                    <input type="password" class="form-control" formControlName="ConfirmPassword" id="exampleFormControlInput1"  placeholder=" Entrer la confirmation de mot de passe" >
                    <div *ngIf="PasswordForm.controls['ConfirmPassword'].invalid && (
                      PasswordForm.controls['ConfirmPassword'].touched || PasswordForm.controls['ConfirmPassword'].dirty
                    )">
                         <div *ngIf ="PasswordForm.controls['ConfirmPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                         <div *ngIf="PasswordForm.controls['ConfirmPassword'].errors?.['noMatch']" class="red">
                          Le mot de passe et sa confirmation ne correspondent pas.
                        </div>
        
                    </div>
                  </div>
        
                </div>
              </form>
             
            </div>
            <div class="modal-footer">
              
              <button class="btn btn-primary confirm-button" (click)=" UpdatePasswordUser()">Modifier</button>
              <button class="btn btn-secondary cancel-button" (click)="closeModal()">Annuler</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!--alert de succée -->
  <div class="alert alert-success" role="alert"  *ngIf="update" >
    <strong class="d-block d-sm-inline-block-force"> Votre profil est modifié </strong>
  </div>
   <!--alert alert d'erreur -->


  <div class="alert alert-danger" role="alert"  *ngIf="valid&&!erreur" >
    <strong class="d-block d-sm-inline-block-force"> Veuillez vérifier les valeurs saisies !  </strong>
  </div>
  <div class="alert alert-danger" role="alert"  *ngIf="erreur" >
    <strong class="d-block d-sm-inline-block-force"> Cette adresse mail existe déjà</strong>
  </div>

<div class="container"  *ngIf="currentUser">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-primary text-white">Mon profil </div>
                <br>
                <div class="user-image d-flex justify-content-center align-items-center">
                    <img src="assets/photosGST/user1.png" alt="Image d'utilisateur" width="60" height="60">
                </div>
                <div class="card-body">
                    <!-- Formulaire de profil -->
                    <form  >
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control"  id="nom" placeholder="Entrez votre nom" id="nom"  [(ngModel)]="user.nom"  [ngModelOptions]="{standalone:true}" >
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input type="text" class="form-control"  id="prenom" placeholder="Entrez votre prénom" id="prenom" [(ngModel)]="user.prenom" [ngModelOptions]="{standalone:true}" >
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="email">Adresse e-mail</label>
                            <input type="email" class="form-control"  id="email" placeholder="Entrez votre adresse e-mail" id="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone:true}" >
                        </div>
                        <br>

                         <div  *ngIf=" afficheDiscipline">
                        <label for="discipline">Disciplines auxquelles vous etes inscrit : </label>
                        <br>
                        <br>
                        <div class="row">
                          <div class="col-md-4" *ngFor="let d of disciplines">
                            <div class="card mb-4 shadow-sm">
                              <div class="card-body">
                                <h5 class="card-title">{{ d.discipline }}</h5>
                              </div>
                            </div>
                          </div>
                        </div>

                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary" (click)="openConfirmationDialog()">Enregistrer</button>
                        <button   class="btn btn-info"  (click)="openModal()">Modifier mot de passe  </button>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #00b894;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Modifier mot de passe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!--alert de succée dans le cas de modification  -->
          <div class="alert alert-success" role="alert"  *ngIf="updatedPassword" >
           <strong class="d-block d-sm-inline-block-force"> Votre mot de passe est modifié avec succès   </strong>
          </div>
          <!--alert d'eereur dans le cas de modification  -->
          <div class="alert alert-danger" role="alert" *ngIf="changerPassword"  >
            <strong class="d-block d-sm-inline-block-force"> L'ancien mot de passe est incorrect </strong>
           </div>
           <div class="alert alert-danger" role="alert" *ngIf="faute"  >
            <strong class="d-block d-sm-inline-block-force">  Veuillez vérifier les champs </strong>
           </div>
      </div>
      <form [formGroup]="PasswordForm">

        <div class="modal-body">

          <div class="form-group">
            <label for="exampleFormControlInput1">Ancien mot de passe <span class="tx-danger">*</span></label>
            <input type="password" class="form-control" formControlName="OldPassword" id="exampleFormControlInput1" placeholder="Entrer votre ancien mot de passe " >
            <div *ngIf="PasswordForm.controls['OldPassword'].invalid && (
              PasswordForm.controls['OldPassword'].touched || PasswordForm.controls['OldPassword'].dirty
            )">
                 <div *ngIf ="PasswordForm.controls['OldPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>


            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nouveau mot de passe <span class="tx-danger">*</span> </label>
            <input type="password" class="form-control" formControlName="NewPassword" id="exampleFormControlInput1"  placeholder=" Entrer le nouveau mot de passe" >
            <div *ngIf="PasswordForm.controls['NewPassword'].invalid && (
              PasswordForm.controls['NewPassword'].touched || PasswordForm.controls['NewPassword'].dirty
            )">
                 <div *ngIf ="PasswordForm.controls['NewPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                 <div  *ngIf ="PasswordForm.controls['NewPassword'].errors?.['minlength']" class="red"> Au moins 5 caractéres  </div>

            </div>
          </div>
           <div class="form-group">
            <label for="exampleFormControlInput1">Confirmer le nouveau mot de passe <span class="tx-danger">*</span> </label>
            <input type="password" class="form-control" formControlName="ConfirmPassword" id="exampleFormControlInput1"  placeholder=" Entrer la confirmation de mot de passe" >
            <div *ngIf="PasswordForm.controls['ConfirmPassword'].invalid && (
              PasswordForm.controls['ConfirmPassword'].touched || PasswordForm.controls['ConfirmPassword'].dirty
            )">
                 <div *ngIf ="PasswordForm.controls['ConfirmPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                 <div *ngIf="PasswordForm.controls['ConfirmPassword'].errors?.['noMatch']" class="red">
                  Le mot de passe et sa confirmation ne correspondent pas.
                </div>

            </div>
          </div>

        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="UpdatePasswordUser()">Modifer mot de passe</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

      </div>
    </div>
  </div>
</div>



