.btn-margin-bottom {
    margin-bottom: 250px;
}

.card-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-header h2 span {
    margin-right: 10px;
  }
  .invalid {
    border: 1px solid red;
  }
