<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    <h2>Mes <span>Réservations</span></h2>
  </div>
</section>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 mt-5">
      <div class="d-flex flex-wrap">
        <div class="card shadow-lg col-md-4" *ngFor="let r of reservations">
          <div class="card-body">
            <div class="card-header bg-primary text-white">
              <h4 class="card-title mb-0">Réservation</h4>
            </div>
            <p class="card-text">Terrain de tennis numéro<strong> {{r.terrain.num_terrain}} </strong></p>
            <p class="card-text">Le <strong>{{r.date}}</strong></p>
            <p class="card-text">De <strong>{{r.hdebut}}</strong>  à<strong>{{r.hfin}}</strong></p>
            <p class="card-text">Status : <strong> {{r.status}}</strong></p>
            <div class="text-center">
              <button type="button" class="btn btn-secondary ml-2" *ngIf="r.status!='refusée'" (click)="annuler(r.id_reservation)">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
