 <!-- ======= On Focus Section ======= -->
 <section id="onfocus" class="onfocus">
  <div class="container-fluid p-0" data-aos="fade-up">

    <div class="row g-0">
      <div class="col-lg-6">
      <div >
        <img src="assets/photosGST/intro1.jpg" alt="description_de_limage"  style="max-width:100%;" >
      </div>
    </div>
      <div class="col-lg-6">
        <div class="content d-flex flex-column justify-content-center h-100">
          <h3>Découvrez l'espace en ligne de la gazelec sport du tunis </h3>
          <p class="fst-italic">
            la Gazelec est reconnue au niveau national et de même international par sa capacité à organiser des évènements sportifs de haut niveau
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Vous pouvez s'inscrire dans l'une des disciplines sportives et devenir un membre </li>
            <li><i class="bi bi-check-circle"></i> Vous pouvez choisir un terrain de tennis et le réserver en ligne </li>
            <li><i class="bi bi-check-circle"></i> Vous pouvez consulter nos évènements  </li>
        
          </ul>
          <a routerLink="apropos" class="read-more align-self-start"><span>Savoir plus</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>

  </div>
</section><!-- End On Focus Section -->
