 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Nos disciplines sportives</h2>

    </div>

    <div class="row gy-5">

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="service-item">
          <div class="img">
            <img src="assets/photosGST/3.png" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">

            <a  routerLink="Tennis" class="stretched-link">
              <h3>Tennis </h3>
            </a>
            <p>6 Terrains</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="service-item">
          <div class="img">
            <img src="assets/photosGST/7.png" class="img-fluid"  alt="">
          </div>
          <div class="details position-relative">

            <a  routerLink="Handball" class="stretched-link">
              <h3>Handball</h3>
            </a>
            <p>2 terrains</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="service-item">
          <div class="img">
            <img src="assets/photosGST/6.png" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">

            <a  routerLink="Volleyball" class="stretched-link">
              <h3  >Volleyball</h3>
            </a>
            <p>2 terrains</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
        <div class="service-item">
          <div class="img">
            <img src="assets/photosGST/basket.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">

            <a  routerLink="Basketball" class="stretched-link">
              <h3>Basketball</h3>
            </a>
            <p>1 terrain</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
        <div class="service-item">
          <div class="img">
            <img src="assets/photosGST/5.png" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">

            <a href="#"  class="stretched-link">
              <h3>Nattation</h3>
            </a>
            <p>1 salle</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
        <div class="service-item">
          <div class="img">
            <img src="assets/photosGST/4.png" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">

            <a  routerLink="Karaté" class="stretched-link">
              <h3>Karaté</h3>
            </a>
            <p>1 salle</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div><!-- End Service Item -->
      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
        <div class="service-item">
          <div class="img">
            <img src="assets/photosGST/8.png" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">

            <a  routerLink="Aikido" class="stretched-link">
              <h3 >Aïkido</h3>
            </a>
            <p>1 salle</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
        <div class="service-item">
          <div class="img">
            <img src="assets/photosGST/1.png" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">

            <a  routerLink="PingPong" class="stretched-link">
              <h3>PingPong</h3>
            </a>
            <p>1 espace</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
        <div class="service-item">
          <div class="img">
            <img src="assets/photosGST/2.png" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">

            <a  routerLink="Pétanque" class="stretched-link">
              <h3>Pétanque</h3>
            </a>
            <p>1 espace</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div><!-- End Service Item -->


    </div>


  </div>
</section><!-- End Services Section -->
