<!-- Alerte de confirmation -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger confirmation-dialog" role="alert" *ngIf="showConfirmationDialog">
        <h4 class="alert-heading">Votre mot de passe a été changé avec succès</h4>
        <p> Veuillez vous connecter avec votre nouveau mot de passe.</p>
        <hr>
        <div class="button-container">
          
          <button class="btn btn-danger confirm-button" (click)="closeConfirmationDialog()">Connecter</button>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- Alerte de confirmation -->

<!-- ======= Testimonials Section ======= -->

<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    <h2> Réinitialiser <span>Mot de passe</span></h2>
  </div>
</section>


<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container-fluid" data-aos="fade-up">

    <div class="row gy-4">

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
       
       <!--alert alert d'erreur -->

       <div class="alert alert-danger" role="alert"  *ngIf="erreur" >
        <strong class="d-block d-sm-inline-block-force"> Vous ne pouvez pas réinitialiser votre mot de passe ! Veuillez réessayer </strong>
      </div>




        <div class="content px-xl-5">
          <h3> <strong>Réinitialiser Mot De Passe</strong></h3>
          <p>

          </p>
        </div>

        <div class="accordion accordion-flush px-xl-5" id="faqlist">

          <form [formGroup]="ResetPasswordForm">

              <!--Password-->
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                <input type="password" class="form-control" id="inputPassword" placeholder="Entrez votre nouveau mot de passe"  formControlName="password">
              </div>
              <div *ngIf="ResetPasswordForm.controls['password'].invalid && (
                ResetPasswordForm.controls['password'].touched || ResetPasswordForm.controls['password'].dirty
              )">
                   <div *ngIf ="ResetPasswordForm.controls['password'].errors?.['required']" class="red"> Mot de passe obligatoire </div>
                   <div *ngIf ="ResetPasswordForm.controls['password'].errors?.['maxlength']" class="red"> Maximum 20 caractéres </div>
                   <div *ngIf ="ResetPasswordForm.controls['password'].errors?.['minlength']" class="red"> Au moins 5 caractéres </div>

              </div>
              <!--Confirm password -->
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirmez le mot de passe" formControlName="confirm">
              </div>
              <div *ngIf="ResetPasswordForm.controls['confirm'].invalid && (
                ResetPasswordForm.controls['confirm'].touched || ResetPasswordForm.controls['confirm'].dirty
              )">
                   <div *ngIf ="ResetPasswordForm.controls['confirm'].errors?.['required']" class="red"> Veuillez confirmer votre mot de passe  </div>
                   <div *ngIf="ResetPasswordForm.controls['confirm'].errors?.['noMatch']" class="red">
                    Le mot de passe et sa confirmation ne correspondent pas.
                  </div>
              </div>

            <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-block"   (click)="reset()" >Changer mot de passe </button>

             </div>

          </form>


        </div>

      </div>

      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/photosGST/Login3.jpg");'>&nbsp;</div>
    </div>

  </div>
</section><!-- End F.A.Q Section -->

