.red{
  color: red;
}
.alert {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.confirmation-dialog {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  
  transform: translate(-50%, -50%);
  
  
  z-index: 10000;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: #fff;
  color: #007bff;
}

.confirmation-dialog h4 {
  margin-top: 0;
}

.confirmation-dialog p {
  margin-bottom: 0;
}

.confirm-button {
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.confirm-button:hover {
  background-color: #007bff;
  color: #fff;
}
